.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 2rem;
    color: #ff068f;
}

h1 {
    background: linear-gradient(90deg, #00dbde, #ffbf00);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purple {
    color: #6900ff;
}